doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(property='og:url', content="http://cinemacm.com")
    meta(property='og:title', content="Cinema in CM")
    meta(property='og:description', content="All Chiang Mai cinema schedule available in English in one place")
    meta(name='description', content="All Chiang Mai cinema schedule available in English in one place")
    meta(property='og:image:url', content="images/facebook.jpg")


    title= 'Cinema in CM'
    link(rel='stylesheet', type='text/css', href='http://vjs.zencdn.net/5.7.1/video-js.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='image_src', href='images/facebook.jpg')

  body
    block content
      #content
        != content
    script(id='initial-state' type='application/json')
      != state
    script(type='text/javascript' defer='defer' src='http://vjs.zencdn.net/ie8/1.1.1/videojs-ie8.min.js')
    script(type='text/javascript' defer='defer' src='http://vjs.zencdn.net/5.7.1/video.js')
    script(type='text/javascript' src='js/bundle.js')
    script(type='text/javascript' src='//static.getclicky.com/js')
    script.
      try{ clicky.init(100928344); }catch(e){}
