doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title= 'kino in CM'
    link(rel='stylesheet', type='text/css', href='http://vjs.zencdn.net/5.7.1/video-js.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')

  body
    block content
      #content
        != content
    script(id='initial-state' type='application/json')
      != state
    script(type='text/javascript' defer='defer' src='http://vjs.zencdn.net/ie8/1.1.1/videojs-ie8.min.js')
    script(type='text/javascript' defer='defer' src='http://vjs.zencdn.net/5.7.1/video.js')
    script(type='text/javascript' src='js/jquery-plugins.js')
    script(type='text/javascript' src='js/bundle.js')
