extends ../layout

block content
    h1.
         #{title}
    ul
        - each movie, i in movies
            li
                = movie.name
                p
                    a(href='/#{movie._id}') Show
