//@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css";
//@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

@import "settings";
@import "materialize";

html {
  font-size: 62.5%;
}

body {
  background: black;
  color: gray;
  font-size: 10px;
  margin: auto;
}

.error {
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  a {
    width: 100%;
  }
  img {
    margin-top: 6rem;
    width: 100%;
    height: auto;
  }
}

.hidden {
  visibility: hidden;
}

.movie {
  border-bottom: solid 2px rgba(128,128,128,0.3);
  overflow: hidden;
  text-align: center;
}

.main {
  position: relative;
  text-align: left;
}

.poster {
  img {
    width: 100%;
    height: auto;
    min-height: 35rem;
  }
}

.description {
  position: absolute;
  transform: translateY(-50%);
  padding: 2.5rem 1rem;
  //text-overflow: ellipsis;
  overflow: auto;
  &::-webkit-scrollbar {
    background: black !important;
  }
}

.title {
  color: #2196F3;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
.director {
  font-size: 1.8rem;
  color: #aaa;
  margin-bottom: 3rem;
  text-align: center;
}
.cast {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 4rem;
}
.storyline {
  font-size: 1.2rem;
  text-align: left;
}

.trailers {
  padding: 0 1rem;
  .title,
  .director,
  .cast {
    display: none;
    margin-bottom: 0;
  }
}

.video-js {
  border: solid 1px rgba(128, 128, 128, 0.3);
  cursor: pointer;
}

.video-js .vjs-big-play-button {
  border: none;
  border-radius: 50%;
  width: 1.5em;
  background: transparent;
  transition: background-color 0.4s ease-in;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.video-js:hover .vjs-big-play-button {
  background: transparent;
  transition: background-color 0.4s ease-in;
}

@media (min-width: $mediaTablet) and (max-width: $mediaDesktop) {
  body {
    max-width: 700px;
  }
  .movie {
    padding-top: 1rem;
  }
  .main {
    height: 50rem !important;
    margin-bottom: 2rem;
    width: 50%;
  }
  .title {
    //font-size: 5rem;
  }
  .director {
    //font-size: 3rem;
  }
  .schedule,
  .cinema-labels {
    width: 100%;
  }

  .main > div,
  .main > div > div {
    overflow: visible !important;
  }
  .poster,
  .description,
  .trailers {
    float: none !important;
    height: 50rem !important;
    display: inline-block;
    position: static !important;
    transform: none !important;
    vertical-align: middle;
  }
  .description {
    display: none;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .cast {
    padding-left: 1rem;
    //font-size: 1.8rem;
  }
  .align-vertically {
    justify-content: space-between;
  }
  .trailers {
    .title,
    .director,
    .cast {
      display: block;
    }
  }
  .trailers .video-wrapper:nth-child(5) {
    display: none;
  }
}

@media (min-width: $mediaDesktop) {
  body {
    max-width: $mediaDesktop;
  }
  .movie {
    padding-top: 1rem;
  }
  .main {
    height: 49rem !important;
    margin-bottom: 3rem;
    width: 33.33%;
  }
  .schedule,
  .cinema-labels {
    width: 66.66%;
  }
  .cinema:not(.long) {
    height: 49rem !important;
  }
  .main > div,
  .main > div > div {
    overflow: visible !important;
  }
  .poster,
  .description,
  .trailers {
    float: none !important;
    height: 49rem !important;
    display: inline-block;
    position: static !important;
    transform: none !important;
    vertical-align: middle;
  }
  .description {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .trailers .title {
    display: none;
  }
}

.align-vertically {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  // &:first-child {
  //   margin-bottom: 4rem;
  // }
}

.video-js {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.closest,
.cinema,
.cinema-label {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: normal;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 25%;
}

.cinema-label {
  display: inline-block;
  //font-style: italic;
  font-size: 1.4rem;
  opacity: 0.5;
  margin-bottom: 1rem;
  @media (min-width: $mediaTablet) {
    font-size: 2rem;
  }
}

// .movie-wrapper:first-child {
//   .cinema-label {
//     display: inline-block;
//   }
// }

.cinema {
  height: 100%;
}

.time {
  position: absolute;
  width: 100%;
  &.past {
    opacity: 0.6;
  }
}
