//@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css";
//@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

@import "materialize";

html {
  font-size: 62.5%;
}

body {
  font-size: 10px;
  background: black;
}

img {
  width: 100%;
  height: auto;
  max-width: 40rem;
  min-height: 40rem;
}

.movie {
  overflow: hidden;
  text-align: center;
}
